@media (max-width: 650px) {
  .login-img-container {
    flex: 1;
    filter: blur(5px);
  }

  
  .login-wrapper {
      position: absolute;
      width: 50%;
      left: 25%;
      height: 50%;
      background-color: $white-font;
      border-radius: 10px;
      box-shadow: 2px 2px 3px black;
      padding-left: 15px;
      padding-right: 15px;
      top: 20%;
  }

  .login-form .login-button {
    font-size: 9px;
    
  }
}

@media (max-width: 550px) {
    .login-wrapper {


    & input {
      height: 2.9vw;
      width: 21vw;
    }

    & input::placeholder {
      font-size: 11px;
    }

  }

  .login-form .login-button {
    width: 11.5vw;
    height: 4.5vw;
  }
}


@media (max-width: 450px) {
  .login-wrapper {
    & h4 {
      font-size: 11px;
    }
  }
}

@media (max-width: 435px) and (max-height: 950px) {
  .login-img-container {
    flex: 1;
    filter: blur(5px);
  }

  
  .login-wrapper {
      position: absolute;
      width: 50%;
      left: 18%;
      height: 50%;
      background-color: $white-font;
      border-radius: 10px;
      box-shadow: 2px 2px 3px black;
      box-sizing: content-box;
      padding-left: 25px;
      padding-right: 25px;
      top: 20%;
      gap: 20vw;
    & h4 {
      font-size: 18px;
    }
    & input {
      height: 8vw;
      width: 40vw;
    }
  
    & input::placeholder {
      font-size: 13px;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    :nth-child(2) {
      margin-bottom: 5vw;
    }
  }

  .login-form .login-button {
    transform: scale(1.7);    
  }
}

//logged in part

@media (max-width: 1200px) {
  .applications-wrapper {
    & h1 {
      font-size: calc(1.8vw + 1.2vh);
      text-align: center;
    }
    & h2 {
      font-size: calc(1.3vw + 1vh);
      text-align: center;
    }
    & h3 {
      font-size: calc(1.3vw + 1vh);
      text-align: center;
    }
  }
}


@media (max-width: 950px) {
  .applications-wrapper {
    & h1 {
      font-size: calc(2vw + 1.4vh);
      text-align: center;
    }
    & h2 {
      font-size: calc(1.5vw + 1.2vh);
      text-align: center;
    }
    & h3 {
      font-size: calc(1.5vw + 1.2vh);
      text-align: center;
    }
  }
}

@media (max-width: 750px) {
  .applications-wrapper {
    & h1 {
      font-size: calc(2.2vw + 1.6vh);
      text-align: center;
    }
    & h2 {
      font-size: calc(1.7vw + 1.4vh);
      text-align: center;
    }
    & h3 {
      font-size: calc(1.7vw + 1.4vh);
      text-align: center;
    }
  }
}

//ul 

@media (max-width: 1000px) {
  .login-wrapper {

    & ul {
      font-size: calc(0.8vw + 0.8vh);
      & ul::marker {
        display: none !important;
      }
    }
  }
}