@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
@import './mixin';

$display-flex: flex;
$white-font: rgb(255, 255, 255);
$blue-fb: rgb(8, 102, 255);
$orange: #FF8C00;
:root {
  height: 100%;
}

body {
  margin: 0;
  @include poppin-regular();
  height: 100%;

}

#root {
  height: 100%;

}
.header-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;

  background-color: $orange; 
  margin-bottom: 1vh;
  border-bottom-style: solid;
  border-color:hsla(0, 0%, 20%, 0.2);
}
.header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: $orange; 
  border-bottom-style: solid;
  border-color:hsla(0, 0%, 20%, 0.2);
}

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border-style: solid;
  border-color: white;

}

.login-img-container {
  position:relative;
/*   display: $display-flex; */
  width: 65vw;
  height: 100%;
}



.login-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-wrapper {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vw;
  justify-content: center;
  & h4 {
    text-align: center
  }
  & input {
    height: 2.3vw;
    width: 20vw;
    border: none;
    border-bottom-style: solid;
    border-color: hsla(0, 0%, 20%, 0.3);
    border-width: 1.3px;
    border-radius: 5px;
    padding-left: 2.5px;
  }

  & input::placeholder {
    color: hsla(0, 0%, 20%, 0.2);
  }
  & ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    @include poppin-thin();
    font-size: calc(0.7vw + 0.7vh);

  }

  & ul span {
    color: #E4FC5B;    
    font-weight: bold;
  }
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  :nth-child(2) {
    margin-bottom: 0.5vw;
  }
}

.login-form .login-button {
  background-color: #FF8C00;
  @include poppin-bold();
  color: $white-font;
  width: 10vw;
  height: 3vw;
  border-width: 1px;
  border-radius: 25px;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px gray;
  cursor: pointer;
}

.login-form .login-button:hover {
  transform: scale(1.1);
}

.application-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.application-wrapper::before {
  content: url('https://i.ibb.co/88LGhZh/login-Image.png');
  filter: blur(8px);
  object-fit: cover;
}

.applications-wrapper {
  position: absolute;
  top: 1;
  display: flex;
  flex-direction: column;
  & h1 {
    font-size: calc(1.5vw + 1vh);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white-font;
  }
  & h2 {
    font-size: calc(1.2vw + 0.9vh);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white-font;
  }
  & h3 {
    font-size: calc(1.2vw + 0.9vh);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white-font;
  }
  & li {
    display: none;
    @include poppin-bold();
    text-align: center;
  }
}

.h4-login2 {
  font-size: calc(1vw + 1vh);
}

@import './adaptive';




